body {
    margin:0;
    background:#d8c7a5;
    color:#ffffff;
    font-family: "Inter", sans-serif;
}


.container {
    max-width:900px;
    margin:auto;
    padding:60px 25px;
}


nav {
    text-align:center;
    padding:30px;
}


nav a {
    color:white;
    text-decoration:none;
    margin:20px;
    letter-spacing:2px;
}


.hero {

    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:

linear-gradient(
rgba(0,0,0,0.5),
rgba(0,0,0,0.5)
);

}


h1 {

font-size:80px;
letter-spacing:15px;
font-weight:200;

}


h2 {

font-weight:300;
letter-spacing:5px;

}


p {

font-size:18px;
line-height:1.8;
color:#cccccc;

}


.section {

margin-top:100px;

}


footer {

text-align:center;
padding:50px;
color:#777;

}
